body{
    background-color: white; 
}
nav{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    letter-spacing: 10px;
}
.list{
    flex:1;
    text-align: right;
}
.list ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.list ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
.list ul li::after{
    content: "";
    width:0%;
    height:2px;
    background:#1feb22;
    display: block;
    margin: auto;
}

.list ul li:hover::after{
    width:100%;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    background-image:url("../../html/photos/background.jpg");
    background-size:cover;
    background-position: center;
    
}

.title h1{
    position: relative;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 50px;   
    color:darkgray;
    font-weight: bolder;
}

.title p{
    position: relative;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 30px; 
    color: darkgray;
}

.title button{ 
    font-family: cursive;
    position: relative;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 200px;
    padding: 10px 0;
    margin: 20px 10px;
    height: 50px;
    border: 2px solid #3c0ff3;
    border-radius: 25px;
    font-size: 15px;
    background: transparent;
    color: rgb(238, 225, 225);
    font-weight: bolder;
    margin-top: 10px;
    cursor:pointer;

}
.headings{
    width:80%;
    margin:auto;
    margin-top:1%;
    justify-content: space-between;
    display: flex;
    font-size: 12px;
}
.project{
    flex-basis:31;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: content-box;
}
.skills{
    flex-basis:31;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: content-box;
}
.network{
    flex-basis:31;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: content-box;
}
.project img{
    margin-left: 30%;
}
.skills img{
    margin-left: 25%;
}
.network img{
    margin-left: 25%;
}
.project h4{
    text-align: center;
    margin-top: 1%;
}
.skills h4{
    text-align: center;
    margin-top: 1%;
}
.network h4{
    text-align: center;
    margin-top: 1%;
}
.project p{
    margin-top: 5%;
}
.skills p{
    margin-top:5%;
}
.network p{
    margin-top: 5%;
}
.aboutme{
    width:100%;
    height: 300px;
}
.aboutme img{
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    width: 30%;
}
.aboutme p{
    position: relative;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 14px; 
    margin-left: 30px;
}
.aboutme h4{
    position: relative;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 30px;   
    font-weight: bolder;
    margin-left: 30px;
}
.footer{
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
    background-color: #2f3045;
    color:white;
}
.moreinfo{
    flex:1;
    text-align: right;
    margin-left: 60%;
}
.moreinfo ul li{
    list-style: none;
    padding: 8px 12px;
    position: relative;
}
.moreinfo ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.icons{
    flex:1;
    text-align: right;
    margin-right: 30px;
}
.icons ul li{
    padding: 8px 12px;
    position: relative;
}
.icons ul li a{
    color: white;
    font-size: 15px;
}



